body {
  font-family: Andale Mono;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

li {
  margin: 1rem;
}

ul {
  list-style-image: url('icon.png');
}
